@font-face {
  font-family: "Title";
  src: url("/fonts/Neglige.otf");
}
@font-face {
  font-family: "Body";
  src: url("/fonts/NeueMontreal_Medium.otf");
}

body {
  margin: 0px;
  font-family: "Body";
  margin-bottom: 0;
}

h2 {
  font-family: "Title";
  font-size: 40px;
  letter-spacing: 0.1cap;
}
